@media only screen and (max-width: 465px){
    #task-area {
        flex-direction: column;
    }

    .task-group {
        width: calc(100% - 48px);
    }

    #title {
        font-size: 300%;
        margin-top: 16px;
    }
}