@font-face {
    font-family: "IBM Plex Mono"; 
    src: url("fonts/IBMPlexMono-Medium.ttf") format("truetype");
}

body {
    font-family: "IBM Plex Mono";
    margin: 0;
    padding: 8px;
    overflow-x: hidden;
    background: #151515;
    color: #e8e6e3;
}

#title {
    margin-top: 20vh;
    font-size: 500%;
    text-align: center;
    user-select: none;
}

button, input {
    font-family: "IBM Plex Mono";
    color: #e8e6e3;
    background: none;
}

button {
    user-select: none;    
}

#new-task-container {
    display: flex;
    justify-content: center;
}

#task-input {
    padding: 8px;
    width: 300px;
    max-width: 70vw;
    border: solid 1px #777;
    border-radius: 4px;
    margin-right: -32px;
}

#task-area {
    display: flex;
    flex-direction: row;
    max-width: 816px;
    margin: 0 auto;
    margin-top: 30px;
}

.task-group {
    border: 1px gray solid;
    border-radius: 4px;
    width: 50%;
    margin: 8px;
    padding: 16px;
}

.task-group li {
    list-style: none;
    padding: 4px;
    display: flex;
}

.task-group ul {
    padding: 0;
}

.task-group h2 {
    margin: 0;
    user-select: none;
}

.task-group li p {
    display: inline;
    margin: 0;
    margin-left: 16px;
    cursor: pointer;
    user-select: none;
    margin-top: 1px;
}

.task-group li input {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.task-group input[type="checkbox"]:checked + p {
    color: gray;
    text-decoration: line-through;
}

.task-group li button {
    background: none;
    border: none;
    padding: 0;
    position: relative;
    top: -1px;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 14px;
}

.task-group li p:hover + button {
    display: block;
}

#create-task {
    border: none;
    background: none;
    position: relative;
    left: -4px;
    top: 2px;
    border: none;
    outline: none;
}

#sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sign-in input {
    display: block;
    width: 200px;
    margin: 8px auto;
    padding: 8px;
}

#loader {
    text-align: center;
}