@font-face {
    font-family: "IBM Plex Mono";
    src: url("fonts/IBMPlexMono-Medium.ttf") format("truetype");
}

body, html {
    font-family: "IBM Plex Mono";
    margin: 0;
    padding: 8px;
    overflow-x: hidden;
    background: #151515;
    color: #e8e6e3;
  height: 100%;
  min-height:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

html {
  padding: 0;
}

#title {
    margin-top: 20vh;
    font-size: 500%;
    text-align: center;
    user-select: none;
    margin-bottom: 16px;
}

#title-mango {
    background: linear-gradient(45deg, #fc8d0f, #67a700);
    background-clip: text;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

button, input {
    font-family: "IBM Plex Mono";
    color: #e8e6e3;
    background: none;
    cursor: pointer;
}

button {
    user-select: none;
}

#new-task-container {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 32px;
    z-index: 5;
}

#task-input {
    padding: 8px;
    width: 400px;
    max-width: calc(100% - 32px);
    border: solid 1px #777;
    border-radius: 4px;
    margin-right: -36px;
    font-size: 120%;
    background: #1a1a1a;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.75);
    outline: none;
    transition: all 150ms ease;
}

#task-input:focus {
    border-color: #aaa;
    background: #252525;
    box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 19px 1px rgba(0, 0, 0, 0.75);
}

#task-area {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 8px;
}

.task-group {
    border: 1px gray solid;
    border-radius: 4px;
    margin: 8px;
    padding: 16px;
    transition: background-color 100ms linear;
    cursor: pointer;
}

.task-group li {
    list-style: none;
    padding: 4px;
    display: flex;
}

.task-group ul {
    padding: 0;
    margin-bottom: 0;
}

.task-group li {
    padding-left: 0;
}

.task-group h2 {
    margin: 0;
    user-select: none;
}

.task-group li p {
    display: inline;
    margin: 0;
    margin-left: 16px;
    cursor: pointer;
    user-select: none;
    margin-top: 1px;
}

.task-group li input {
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
}

.task-group input[type="checkbox"]:checked+p {
    color: gray;
    text-decoration: line-through;
}

.task-group li button {
    background: none;
    border: none;
    padding: 0;
    position: relative;
    top: -1px;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 14px;
}

.task-group li p:hover+button {
    display: block;
}

#create-task {
    border: none;
    background: none;
    border: none;
    outline: none;
    position: relative;
    left: -2px;
}

#sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sign-in input {
    display: block;
    width: 200px;
    margin: 8px auto;
    padding: 8px;
}

#loader {
    text-align: center;
}

#main-group {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 16px;
}

.task-group.focused {
    border: 1px white solid;
    border-radius: 4px;
    position: relative;
    background: #222;
}

.task-group.to-be-deleted {
    background: rgb(65, 0, 0);
}

.task-group h2 button {
    background: none;
    border: none;
    float: right;
    position: relative;
    top: 4px;
}

.hint-add-task {
    user-select: none;
    color: #999;
}

main {
  flex-grow: 1;
}

footer {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  gap: 16px;
  padding: 16px;
}

footer p {
  margin: 0;
  opacity: 0.8;
}
